body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.qr-code-generator {
  background: linear-gradient(45deg, #2f4680, #500ae4);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.qr-code-types {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.mode-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.mode-button.active {
  background-color: #ddd;
}

.mode-button:hover {
  background-color: #e0e0e0;
}

.input-section {
  width: 100%;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #626262;
  background-color: #ffffff;
}

.logo-upload {
  margin-bottom: 1rem;
}

.qr-code-container {
  margin: 1rem 0;
}

.download-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.download-buttons button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.download-buttons button:hover {
  background-color: #f0f0f0;
}

.download-buttons button:nth-child(2) {
  background-color: #FF5722; /* Customize button color if needed */
}

.download-buttons button:nth-child(3) {
  background-color: #3F51B5; /* Customize button color if needed */
}

.download-buttons button:nth-child(4) {
  background-color: #009688; /* Customize button color if needed */
}


